@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218 218 218;
    --foreground: 17 17 17;
    --primary: 17 17 17;
    --primary-foreground: 218 218 218;
    --secondary: 218 218 218;
    --secondary-foreground: 17 17 17;
    --muted: 218 218 218;
    --muted-foreground: 17 17 17;
    --accent: 7 15 255;
    --accent-foreground: 218 218 218;
    --border: 17 17 17;
    --ring: 0 127 255;
    --radius: 0.75rem;
  }

  .dark {
    --background: 17 17 17;
    --foreground: 218 218 218;
    --primary: 218 218 218;
    --primary-foreground: 17 17 17;
    --secondary: 0 127 255;
    --secondary-foreground: 218 218 218;
    --muted: 17 17 17;
    --muted-foreground: 218 218 218;
    --accent: 255 119 0;
    --accent-foreground: 17 17 17;
    --border: 218 218 218;
    --ring: 7 15 255;
  }
}
