@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 18 36;
    --foreground: 229 242 255;
    --primary: 0 127 255;
    --primary-foreground: 229 242 255;
    --secondary: 0 25 51;
    --secondary-foreground: 153 204 255;
    --muted: 0 25 51;
    --muted-foreground: 153 204 255;
    --accent: 51 153 255;
    --accent-foreground: 229 242 255;
    --border: 5 65 97;
    --ring: 0 127 255;
    --radius: 1rem;
  }

  .dark {
    --background: 0 18 36;
    --foreground: 229 242 255;
    --primary: 0 127 255;
    --primary-foreground: 229 242 255;
    --secondary: 0 25 51;
    --secondary-foreground: 153 204 255;
    --muted: 0 25 51;
    --muted-foreground: 153 204 255;
    --accent: 51 153 255;
    --accent-foreground: 229 242 255;
    --border: 5 65 97;
    --ring: 0 127 255;
  }
}
